<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="117.12.127.87 supershop.com.vn"/>
		<add key="Database" value="MyShop / Laptop512f35d / QuickSale"/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="Entropy" value=""/>
	</appSettings>
</configuration>